.buttons{
    display: inline-block;
    height: 5em;
    width:10em;
    background-color:#8a758c;
    border: solid thick silver;
    border-radius: 10px;
    color: silver;
    font-size: 16px;
    margin:0 3em;
    align-self: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dice{
    height: 5em;
    width: 5em;
    float: left;
    margin: .5em;
    background-size: contain;
    background-position: center;
}
/*border: solid thick silver;
border-radius:10px;
background-color: black;
font-size: 16px;
color:#b72fb5;*/